@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

:root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  height: 100%;
  width: 100%;;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: rem(1160px);
  height: rem(720px);
  display: flex;
  background-color: var(--mantine-color-dark-8);
  border-radius: var(--mantine-radius-sm);
  box-shadow: var(--mantine-shadow-sm);
  z-index: 1;
}